/* datos*/
body { 
background-image: url("http://www.webnlinea.in/cimages/contacto@opticareyher.com/fd3d49_6441754fondo-para-pagina-we.png") 

}
h1{
text-align:center;
}
.intro{
text-align:center;
}
.mostrar{
margin: 0px 110px 0px 0px;
float:right;
}

.row{
background-color: #FFFACD;
}
.container{
text-align:center;
}
img{
border: 4px solid black;

}
nav{
margin-left:1000px;
}
.table{
	background-color: black;
	color:white; 
}

